# The Default Profile
[profile.default]
solc_version = "0.8.24"
zksolc_version = "1.5.11"
evm_version = "paris"
src = "src"
out = "out"
ffi = true
ast = true
build_info = true
extra_output = ["storageLayout"]
libs = ["lib"]

[fmt]
line_length = 100

[profile.default.fuzz]
runs = 5

[invariant]
depth = 15
runs = 10

[etherscan]
sophonTestnet = { key = "${ETHERSCAN_API_KEY}", url = "${SOPHON_TESTNET_VERIFIER_URL}", chain = 531050104 } 
sophonMainnet = { key = "${ETHERSCAN_API_KEY}", url = "${SOPHON_MAINNET_VERIFIER_URL}", chain = 50104 }

[rpc_endpoints]
sophonTestnet = "${SOPHON_TESTNET_RPC_URL}"
sophonMainnet = "${SOPHON_MAINNET_RPC_URL}"
# See more config options https://github.com/foundry-rs/foundry/blob/master/crates/config/README.md#all-options
